/*=========================    Fonts    ======================*/
@import url("font.css");
/*================    Reboot & Basic settings  ===============*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after,
*:hover {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
a:visited,
a:active,
input:focus {
  text-decoration: none;
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button,
a {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
body {
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  color: #9B9B9B;
  background-color: #EBEBEB;
}
/*================    Variables    ===============*/
.box {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(51, 50, 50, 0.14);
  -moz-box-shadow: 0px 2px 2px 0px rgba(51, 50, 50, 0.14);
  box-shadow: 0px 2px 2px 0px rgba(51, 50, 50, 0.14);
}
.title {
  font-family: 'Arial MT', sans-serif;
  font-size: 24px;
  color: #4F4F4F;
}
/*===================    HEADER    ===============*/
.logo-wrap {
  display: grid;
  grid-template-columns: 1fr 950px 1fr;
  grid-template-rows: 65px;
  background-color: #373737;
  align-items: center;
}
.logo-wrap__img {
  grid-column: 2;
  grid-row: 1;
}
.logo-wrap__decor {
  grid-column: 2;
  grid-row: 1;
  background-color: #F26C4F;
  height: 20px;
  width: 20px;
  position: relative;
  left: 68px;
  transform: rotateZ(45deg);
}
.logo-wrap__name {
  grid-column: 2;
  grid-row: 1;
  color: #fff;
  padding-left: 110px;
  font-family: 'Nexa', sans-serif;
  opacity: 0.8;
  font-size: 18px;
}
.nav-bar {
  display: grid;
  grid-template-columns: 1fr 950px 1fr;
  grid-template-rows: 69px;
  background-color: #474747;
  align-items: center;
}
.nav-bar-wrap {
  grid-column: 2;
}
.nav-bar-wrap a:last-child {
  border-right: none;
}
.nav-bar-wrap__item {
  color: #D8D8D8;
  font-size: 13px;
  display: inline-block;
  text-align: center;
  min-width: 90px;
  border-right: 1px solid #767676;
}
.nav-bar-wrap__item .red {
  display: inline;
  min-width: 90px;
  padding-top: 26px;
  padding-bottom: 24px;
}
.nav-bar-wrap__item .red:hover {
  border-bottom: 2.5px solid #F26C4F;
  margin-bottom: -2px;
}
/*===================    SUB NAV    ===============*/
.sub-nav {
  display: grid;
  grid-template-columns: 1fr 950px 1fr;
  grid-template-rows: 60px;
}
.sub-nav-content {
  margin-top: 12px;
  grid-column: 2;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}
.sub-nav-content .search {
  position: relative;
}
.sub-nav-content .search input {
  width: 300px;
  padding: 16px 55px 16px 20px;
  font-family: 'Arial MT', sans-serif;
}
.sub-nav-content .search input::placeholder {
  color: #B5B5B5;
}
.sub-nav-content .search-icon {
  background-image: url(../img/clock.png);
  width: 23px;
  height: 23px;
  position: absolute;
  right: 30px;
  top: 13px;
}
.sub-nav-content .social {
  font-family: 'Times New Roman', serif;
  font-size: 12px;
  grid-column: 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  grid-column-gap: 20px;
  color: #8F8F8F;
}
.sub-nav-content .social-item {
  display: grid;
  grid-template-columns: 2fr 3fr;
  justify-items: center;
  align-items: center;
}
/*===================    MAIN SCREEN    ===============*/
.main {
  display: grid;
  grid-template-columns: 1fr 638px 312px 1fr;
  grid-template-rows: 392px;
  position: relative;
  margin-top: 10px;
}
.main-img {
  grid-column: 2;
  position: relative;
}
.main-img__bg {
  background-image: url('../img/Bridge.png');
  background-repeat: no-repeat;
  height: 392px;
  width: 640px;
  border-right: 8px solid #F26C4F;
  position: relative;
  z-index: 1;
}
.main-img__decor {
  background-color: #F26C4F;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 50px;
  right: -12px;
  transform: rotateZ(45deg);
  z-index: 0;
}
.main-img__overlay {
  min-height: 60px;
  min-width: 350px;
  position: absolute;
  top: 332px;
  right: 7px;
  z-index: 1;
  color: #fff;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 24px 23px 20px 30px;
}
.main-description {
  grid-column: 3;
  min-width: 312px;
  min-height: 392px;
  background-color: #373737;
  padding: 35px 35px 100px 35px;
  display: grid;
  line-height: 24px;
}
.main-description__title {
  font-family: 'Arial MT', sans-serif;
  padding-top: 10px;
  font-size: 21px;
  color: #fff;
}
.main-description__text {
  font-size: 13px;
}
.main-description__timing {
  justify-self: end;
  position: relative;
}
.main-description__timing-watch {
  background-image: url(../img/clockblack.svg);
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  position: absolute;
  right: 85px;
  top: 2px;
}
.main-description__timing-date {
  font-size: 12px;
}
/*===================    FEATURES    ===============*/
.features {
  display: grid;
  grid-template-columns: 1fr repeat(3, 302px) 1fr;
  grid-template-rows: 380px;
  grid-column-gap: 22px;
  margin-top: 15px;
}
.features-item {
  display: grid;
  grid-template-rows: 191px 189px;
  grid-row-gap: 20px;
}
.features-item__img {
  position: relative;
  overflow: hidden;
}
.features-item__img img {
  min-width: 306px;
  max-height: 191px;
}
.features-item__img-decor {
  background-color: #F26C4F;
  height: 110px;
  width: 110px;
  position: absolute;
  top: -55px;
  right: -55px;
  transform: rotateZ(45deg);
  z-index: 0;
}
.features-item__img-decor::before {
  content: '';
  background-image: url('../img/plus.svg');
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  height: 15px;
  width: 15px;
  position: absolute;
  top: 80px;
  right: 46px;
  transform: rotateZ(45deg);
  z-index: 1;
}
.features-item__text {
  padding-left: 29px;
  padding-right: 62px;
}
.features-item__text-title {
  line-height: 30px;
}
.features-item__text-subtitle {
  margin-top: 15px;
  font-size: 12px;
  line-height: 22px;
  color: #646464;
}
.features .item1 {
  grid-column: 2;
}
.features .item2 {
  grid-column: 3;
}
.features .item3 {
  grid-column: 4;
}
/*===================    ARTICLES    ===============*/
.article {
  display: grid;
  grid-template-columns: 1fr 625px 302px 1fr;
  grid-column-gap: 23px;
  margin-top: 22px;
}
.article-wrap {
  grid-column: 2;
  display: grid;
  grid-template-rows: repeat(2, 174px) 99px repeat(4, 77px) 70px 336px 42px;
  grid-row-gap: 10px;
}
.article-wrap .item1 {
  grid-row: 1;
}
.article-wrap .item1 .votes {
  padding-left: 25px;
  display: grid;
  grid-template-columns: 53px 2fr 3fr;
}
.article-wrap .item1 .votes__star {
  grid-column: 1;
  background-image: url('../img/star.svg');
  background-repeat: repeat-x;
}
.article-wrap .item1 .votes__count {
  grid-column: 2;
  align-self: center;
  padding-left: 10px;
  padding-bottom: 2px;
}
.article-wrap .item2 {
  grid-row: 2;
}
.article-wrap .item2 .votes {
  padding-left: 25px;
  display: grid;
  grid-template-columns: 45px 2fr 3fr;
}
.article-wrap .item2 .votes__star {
  grid-column: 1;
  background-image: url('../img/star.svg');
  background-repeat: repeat-x;
}
.article-wrap .item2 .votes__count {
  grid-column: 2;
  align-self: center;
  padding-left: 10px;
  padding-bottom: 2px;
}
.article-wrap .item3 {
  grid-row: 3;
  padding: 27px 36px;
}
.article-wrap .item4 {
  grid-row: 4;
  padding: 19px 40px;
}
.article-wrap .item5 {
  grid-row: 5;
  padding: 19px 40px;
}
.article-wrap .item6 {
  grid-row: 6;
  padding: 19px 40px;
}
.article-wrap .item7 {
  grid-row: 7;
  padding: 19px 40px;
}
.article-wrap .item4 .title,
.article-wrap .item5 .title,
.article-wrap .item6 .title,
.article-wrap .item7 .title {
  font-size: 18px;
}
.article-wrap__item {
  position: relative;
  padding: 37px 37px;
  border-left: 4px solid #F26C4F;
  display: grid;
  grid-row-gap: 8px;
}
.article-wrap__item:hover {
  background-color: #F26C4F;
  border-left: 4px solid #CE4E32;
}
.article-wrap__item:hover * {
  color: #fff;
}
.article-wrap__item:hover .votes__star {
  grid-column: 1;
  background-image: url('../img/whitestar.svg');
  background-repeat: repeat-x;
}
.article-wrap__item:hover::before {
  background-image: url('../img/movie_tape.svg');
  background-size: cover;
  content: '';
  position: absolute;
  width: 30px;
  height: 25px;
  top: 30%;
  left: -50px;
}
.article-wrap__item-social {
  font-size: 10px;
  color: #9B9B9B;
  display: grid;
  grid-template-columns: repeat(2, 120px) 1fr;
}
.article-wrap__item-social .date {
  border-right: 1px solid #DFDFDF;
  padding-top: 5px;
  padding-bottom: 5px;
}
.article-wrap__item-social .comments {
  border-right: 1px solid #DFDFDF;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
}
.article-wrap__item-text {
  font-size: 14px;
  line-height: 20px;
}
.article-wrap .read-more {
  margin-top: 15px;
  grid-row: 8;
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 14px;
}
.article-wrap .read-more__icon {
  background-image: url('../img/plusInCircle.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 20px;
  height: 20px;
  align-self: start;
}
.article-wrap .content-wrap1 {
  padding: 28px 50px 20px 50px;
  grid-row: 9;
  color: #707070;
}
.article-wrap .content-wrap1__title {
  padding-top: 7px;
  font-size: 30px;
  color: #707070;
}
.article-wrap .content-wrap1__text {
  font-family: 'Arial MT', sans-serif;
  padding-top: 25px;
  font-size: 14px;
  line-height: 24px;
}
.article-wrap .content-wrap1__text span {
  color: #F26C4F;
}
.article-wrap .content-date {
  position: relative;
  grid-row: 10;
  background-color: transparent;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(51, 50, 50, 0.14);
  -moz-box-shadow: 0px 2px 2px 0px rgba(51, 50, 50, 0.14);
  box-shadow: 0px 2px 2px 0px rgba(51, 50, 50, 0.14);
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  align-items: center;
  justify-items: center;
  font-size: 14px;
}
.article-wrap .content-date__day {
  grid-column: 1;
}
.article-wrap .content-date__count {
  grid-column: 3;
}
.article-wrap .content-date__like {
  position: absolute;
  background-image: url('../img/heart.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 12px;
  height: 11px;
  right: 39px;
}
.article-sidebar {
  grid-column: 3;
  display: grid;
  grid-template-rows: 585px 200px 180px 200px;
  grid-row-gap: 20px;
}
.article-sidebar-block1 {
  grid-row: 1;
  display: grid;
  grid-template-rows: 296px auto;
  position: relative;
  overflow: hidden;
}
.article-sidebar-block1 .article-sidebar__img {
  grid-row: 1;
  background-image: url('../img/Layer 4.png');
  background-position-x: right;
}
.article-sidebar-block1 .article-sidebar__decor {
  background-color: #F26C4F;
  height: 110px;
  width: 110px;
  position: absolute;
  top: -55px;
  right: -55px;
  transform: rotateZ(45deg);
  z-index: 0;
}
.article-sidebar-block1 .article-sidebar__decor::before {
  content: '';
  background-image: url('../img/plus.svg');
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  height: 15px;
  width: 15px;
  position: absolute;
  top: 80px;
  right: 46px;
  transform: rotateZ(45deg);
  z-index: 1;
}
.article-sidebar-block1 .article-sidebar__text {
  padding: 30px;
  background-color: #373737;
}
.article-sidebar-block1 .article-sidebar__text * {
  color: #fff;
}
.article-sidebar-block1 .article-sidebar__text-title {
  line-height: 30px;
}
.article-sidebar-block1 .article-sidebar__text-subtitle {
  font-size: 12px;
  line-height: 22px;
  padding-top: 20px;
}
.article-sidebar-block2 {
  grid-row: 2;
  padding: 30px 11px;
}
.article-sidebar-block2 .bot-date {
  border-bottom: 2px solid #D9D9D9;
  padding-bottom: 15px;
  box-shadow: 0 3px 2px -2px #fff;
}
.article-sidebar-block3 {
  grid-row: 3;
  padding: 20px 11px;
}
.article-sidebar-info {
  grid-row: 4;
  margin-top: 10px;
}
.article-sidebar-info a:nth-child(4) span {
  font-family: 'Arial', sans-serif;
}
.article-sidebar-info__item {
  display: block;
  min-width: 301px;
  min-height: 45px;
  border-left: 4px solid #CACACA;
  margin-bottom: 7px;
  font-size: 12px;
  color: #A7A7A7;
  padding: 15px 25px;
}
.article-sidebar-info__item span {
  font-size: 16px;
  padding-right: 12px;
}
.article-sidebar .article-sidebar__title {
  font-size: 19px;
}
.article-sidebar .article-sidebar__date,
.article-sidebar .article-sidebar__subtitle {
  font-size: 12px;
  line-height: 22px;
  padding-top: 20px;
}
/*===================    CONTENT    ===============*/
.content {
  display: grid;
  grid-template-columns: 1fr 625px 302px 1fr;
  grid-column-gap: 23px;
  grid-template-rows: 306px 308px 500px;
  margin-top: 40px;
}
.content .light-title {
  padding-top: 13px;
  font-size: 30px;
  color: #707070;
  font-family: 'Arial MT', sans-serif;
}
.content .text {
  padding-top: 20px;
  font-size: 14px;
  line-height: 24px;
}
.content-img {
  grid-row: 1;
  grid-column: 2;
  background-image: url('../img/Layer 5.png');
  background-position: right bottom;
}
.content-wrap2 {
  grid-row: 2;
  grid-column: 2;
  padding: 28px 50px 20px 50px;
}
.content-wrap3 {
  margin-top: 31px;
  grid-row: 3;
  grid-column: 2;
  padding: 28px 46px 20px 50px;
}
/*===================    FOOTER    ===============*/
.footer-wrap {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 3.5fr 870px 4fr;
  grid-column-gap: 23px;
  grid-template-rows: 160px;
  background-color: #373737;
  align-items: center;
}
.footer-wrap .footer {
  grid-column: 2;
  display: grid;
  grid-template-rows: 80px 80px;
  align-items: center;
}
.footer-wrap .footer * {
  color: #fff;
}
.footer-wrap .footer-info__item {
  font-size: 14px;
  margin-right: 10px;
}
.footer-wrap .footer-privacy {
  font-size: 12px;
  color: #7E7E7E;
  line-height: 24px;
  padding: 0 20px 20px 0;
}
