*,
*:focus,
*:active,
*:visited {
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.answer {
  width: 727px;
  height: 336px;
  display: flex;
}
.answer-count {
  padding-top: 30px;
  margin-right: 15px;
}
.answer-count__num {
  position: relative;
  display: block;
  padding-left: 12px;
  font-size: 21px;
  color: #6a737c;
}
.answer-count__num::before {
  content: '';
  position: absolute;
  top: -31px;
  left: 13px;
  height: 30px;
  width: 30px;
  background-image: url('https://image.flaticon.com/icons/svg/32/32323.svg');
  background-size: cover;
}
.answer-count__num::after {
  content: '';
  position: absolute;
  top: 23px;
  left: 13px;
  height: 30px;
  width: 30px;
  background-image: url('https://image.flaticon.com/icons/svg/32/32195.svg');
  background-size: cover;
}
.answer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.answer-content .task {
  font-size: 15px;
  padding-bottom: 20px;
}
.answer-content .code {
  margin-top: -10px;
  background-color: #eff0f1;
  border-radius: 5px;
  letter-spacing: 0.7px;
}
.answer-content .code pre {
  font-family: Consolas, Menlo, Monaco, monospace, sans-serif;
}
.answer-content .code-blue {
  color: #101094;
  font-family: Consolas, Menlo, Monaco, monospace, sans-serif;
}
.answer-content .code-red {
  color: #7D2727;
}
.answer-content .info-wrap {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cecece;
  padding: 20px 10px;
}
.answer-content .info-wrap .share {
  display: grid;
  grid-template-columns: 1fr 3fr;
  color: #6a737c;
}
.answer-content .info-wrap .edit {
  justify-self: flex-end;
  padding-left: 50px;
  color: #5b5bfa;
  font-size: 12px;
}
.answer-content .info-wrap .about-1 {
  color: #6a737c;
}
.answer-content .info-wrap .about-2 {
  color: #5b5bfa;
  padding-right: 70px;
}
.answer-content .sub-answer {
  display: flex;
  border-bottom: 1px solid #cecece;
  padding: 5px 0;
}
.answer-content .sub-answer__num {
  color: #6a737c;
  margin-right: 15px;
}
.answer-content .sub-answer__content {
  line-height: 17px;
}
.answer-content .sub-answer__content-time {
  color: #6a737c;
}
.answer-content .comment {
  border-bottom: 1px solid #cecece;
  color: #6a737c;
}
