/* Basic settings*/
body {
  overflow-x: hidden;
  background-color: #fff;
  font-size: 18px;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*  Style*/
.progress_info {
  margin-bottom: -5px;
}
.progress_bar {
  margin-left: -20px !important;
}