/*=========================    Fonts    ======================*/
@import url("font.css");

/*================    Reboot & Basic settings  ===============*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after,
*:hover {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:hover,
a:focus,
a:visited,
a:active,
input:focus {
  text-decoration: none;
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button,
a {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  .reg();
  color: @text;
  background-color: @bg;
}

/*================    Variables    ===============*/
.reg() {
  font-family: 'Arial', sans-serif;
}

.bold() {
  font-family: 'Arial MT', sans-serif;
}

.logo() {
  font-family: 'Nexa', sans-serif;
}

@red: #F26C4F;
@gray: #474747;
@dark-gray: #373737;
@bg: #EBEBEB;
@text: #9B9B9B;
@dark-text: #4F4F4F;

.box {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(51, 50, 50, 0.14);
  -moz-box-shadow: 0px 2px 2px 0px rgba(51, 50, 50, 0.14);
  box-shadow: 0px 2px 2px 0px rgba(51, 50, 50, 0.14);
}

.title {
  .bold();
  font-size: 24px;
  color: @dark-text;
}

/*===================    HEADER    ===============*/

.logo-wrap {
  display: grid;
  grid-template-columns: 1fr 950px 1fr;
  grid-template-rows: 65px;
  background-color: @dark-gray;
  align-items: center;

  &__img {
    grid-column: 2;
    grid-row: 1;
  }

  &__decor {
    grid-column: 2;
    grid-row: 1;
    background-color: @red;
    height: 20px;
    width: 20px;
    position: relative;
    left: 68px;
    transform: rotateZ(45deg);
  }

  &__name {
    grid-column: 2;
    grid-row: 1;
    color: #fff;
    padding-left: 110px;
    .logo();
    opacity: 0.8;
    font-size: 18px;
  }
}

.nav-bar {
  display: grid;
  grid-template-columns: 1fr 950px 1fr;
  grid-template-rows: 69px;
  background-color: @gray;
  align-items: center;

  &-wrap {
    grid-column: 2;
    & a:last-child {
      border-right: none;
    }

    &__item {
      color: #D8D8D8;
      font-size: 13px;
      display: inline-block;
      text-align: center;
      min-width: 90px;
      border-right: 1px solid #767676;
     
    
      .red {
        display: inline;
        min-width: 90px;
        padding-top: 26px;
        padding-bottom: 24px;
        &:hover {
          border-bottom: 2.5px solid @red;
          margin-bottom: -2px;

        }
      }
      
    }
  }
}

/*===================    SUB NAV    ===============*/
.sub-nav {
  display: grid;
  grid-template-columns: 1fr 950px 1fr;
  grid-template-rows: 60px;

  &-content {
    margin-top: 12px;
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;

    .search {
      position: relative;

      input {
        width: 300px;
        padding: 16px 55px 16px 20px;
        .bold();

        &::placeholder {
          color: #B5B5B5;
        }
      }

      &-icon {
        background-image: url(../img/clock.png);
        width: 23px;
        height: 23px;
        position: absolute;
        right: 30px;
        top: 13px;
      }
    }

    .social {
      font-family: 'Times New Roman', serif;
      font-size: 12px;
      grid-column: 3;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      grid-column-gap: 20px;
      color: #8F8F8F;

      &-item {
        display: grid;
        grid-template-columns: 2fr 3fr;
        justify-items: center;
        align-items: center;

      }
    }
  }
}

/*===================    MAIN SCREEN    ===============*/
.main {
  display: grid;
  grid-template-columns: 1fr 638px 312px 1fr;
  grid-template-rows: 392px;
  position: relative;
  margin-top: 10px;

  &-img {
    grid-column: 2;
    position: relative;

    &__bg {
      background-image: url('../img/Bridge.png');
      background-repeat: no-repeat;
      height: 392px;
      width: 640px;
      border-right: 8px solid @red;
      position: relative;
      z-index: 1;

    }

    &__decor {
      background-color: @red;
      height: 20px;
      width: 20px;
      position: absolute;
      top: 50px;
      right: -12px;
      transform: rotateZ(45deg);
      z-index: 0;
    }

    &__overlay {
      min-height: 60px;
      min-width: 350px;
      position: absolute;
      top: 332px;
      right: 7px;
      z-index: 1;
      color: #fff;
      font-size: 15px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 24px 23px 20px 30px;

    }
  }

  &-description {
    grid-column: 3;
    min-width: 312px;
    min-height: 392px;
    background-color: @dark-gray;
    padding: 35px 35px 100px 35px;
    display: grid;
    line-height: 24px;

    &__title {
      .bold();
      padding-top: 10px;
      font-size: 21px;
      color: #fff;

    }

    &__text {
      font-size: 13px;

    }

    &__timing {
      justify-self: end;
      position: relative;

      &-watch {
        background-image: url(../img/clockblack.svg);
        background-repeat: no-repeat;
        width: 19px;
        height: 19px;
        position: absolute;
        right: 85px;
        top: 2px;
      }

      &-date {
        font-size: 12px;
      }
    }
  }
}

/*===================    FEATURES    ===============*/
.features {
  display: grid;
  grid-template-columns: 1fr repeat(3, 302px) 1fr;
  grid-template-rows: 380px;
  grid-column-gap: 22px;
  margin-top: 15px;

  &-item {
    display: grid;
    grid-template-rows: 191px 189px;
    grid-row-gap: 20px;


    &__img {
      position: relative;
      overflow: hidden;

      img {
        min-width: 306px;
        max-height: 191px;
      }

      &-decor {
        background-color: @red;
        height: 110px;
        width: 110px;
        position: absolute;
        top: -55px;
        right: -55px;
        transform: rotateZ(45deg);
        z-index: 0;

        &::before {
          content: '';
          background-image: url('../img/plus.svg');
          display: block;
          background-repeat: no-repeat;
          background-size: cover;
          height: 15px;
          width: 15px;
          position: absolute;
          top: 80px;
          right: 46px;
          transform: rotateZ(45deg);
          z-index: 1;
        }
      }
    }

    &__text {
      padding-left: 29px;
      padding-right: 62px;

      &-title {
        line-height: 30px;
      }

      &-subtitle {
        margin-top: 15px;
        font-size: 12px;
        line-height: 22px;
        color: #646464;
      }
    }
  }

  .item1 {
    grid-column: 2;
  }

  .item2 {
    grid-column: 3;
  }

  .item3 {
    grid-column: 4;
  }
}

/*===================    ARTICLES    ===============*/
.article {
  display: grid;
  grid-template-columns: 1fr 625px 302px 1fr;
  grid-column-gap: 23px;
  margin-top: 22px;

  &-wrap {
    grid-column: 2;
    display: grid;
    grid-template-rows: repeat(2, 174px) 99px repeat(4, 77px) 70px 336px 42px;
    grid-row-gap: 10px;

    .item1 {
      grid-row: 1;

      .votes {

        padding-left: 25px;
        display: grid;
        grid-template-columns: 53px 2fr 3fr;


        &__star {
          grid-column: 1;
          background-image: url('../img/star.svg');
          background-repeat: repeat-x;

        }

        &__count {
          grid-column: 2;
          align-self: center;
          padding-left: 10px;
          padding-bottom: 2px;
        }
      }
    }

    .item2 {
      grid-row: 2;

      .votes {

        padding-left: 25px;
        display: grid;
        grid-template-columns: 45px 2fr 3fr;


        &__star {
          grid-column: 1;
          background-image: url('../img/star.svg');
          background-repeat: repeat-x;

        }

        &__count {
          grid-column: 2;
          align-self: center;
          padding-left: 10px;
          padding-bottom: 2px;
        }
      }
    }

    .item3 {
      grid-row: 3;
      padding: 27px 36px;
    }

    .item4 {
      grid-row: 4;
      padding: 19px 40px;
    }

    .item5 {
      grid-row: 5;
      padding: 19px 40px;
    }

    .item6 {
      grid-row: 6;
      padding: 19px 40px;
    }

    .item7 {
      grid-row: 7;
      padding: 19px 40px;
    }

    .item4 .title,
    .item5 .title,
    .item6 .title,
    .item7 .title {
      font-size: 18px;
    }

    &__item {
      position: relative;
      padding: 37px 37px;
      border-left: 4px solid @red;
      display: grid;
      grid-row-gap: 8px;

      &:hover {
        background-color: #F26C4F;
        border-left: 4px solid #CE4E32;

        * {
          color: #fff;
        }

        .votes__star {
          grid-column: 1;
          background-image: url('../img/whitestar.svg');
          background-repeat: repeat-x;
        }

        &::before {
          background-image: url('../img/movie_tape.svg');
          background-size: cover;
          content: '';
          position: absolute;
          width: 30px;
          height: 25px;
          top: 30%;
          left: -50px;
        }
      }

      &-social {
        font-size: 10px;
        color: @text;
        display: grid;
        grid-template-columns: repeat(2, 120px) 1fr;

        .date {
          border-right: 1px solid #DFDFDF;
          padding-top: 5px;
          padding-bottom: 5px;
        }

        .comments {
          border-right: 1px solid #DFDFDF;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 30px;
        }
      }

      &-text {
        font-size: 14px;
        line-height: 20px;
      }
    }

    .read-more {
      margin-top: 15px;
      grid-row: 8;
      display: grid;
      justify-items: center;
      align-items: center;
      font-size: 14px;

      &__icon {
        background-image: url('../img/plusInCircle.svg');
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        width: 20px;
        height: 20px;
        align-self: start;
      }
    }

    .content-wrap1 {
      padding: 28px 50px 20px 50px;
      grid-row: 9;
      color: #707070;
      &__title {
        padding-top: 7px;
        font-size: 30px;
        color: #707070;
      }
      &__text {
        .bold();
        padding-top: 25px;
        font-size: 14px;
        line-height: 24px;
        span {
          color: @red;
        }
      }
    }

    .content-date {
      position: relative;
      grid-row: 10;
      background-color: transparent;
       -webkit-box-shadow: 0px 2px 2px 0px rgba(51, 50, 50, 0.14);
       -moz-box-shadow: 0px 2px 2px 0px rgba(51, 50, 50, 0.14);
       box-shadow: 0px 2px 2px 0px rgba(51, 50, 50, 0.14);
       display: grid;
       grid-template-columns: 2fr 5fr 2fr;
       align-items: center;
       justify-items: center;
       font-size: 14px;
       &__day{
         grid-column: 1;
        
       }
       &__count {
         grid-column: 3;
      
       }
       &__like {
        position: absolute;
        background-image: url('../img/heart.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 12px;
        height: 11px;
        right: 39px;

       }

    }
  }

  &-sidebar {
    grid-column: 3;
    display: grid;
    grid-template-rows: 585px 200px 180px 200px;
    grid-row-gap: 20px;

    &-block1 {
      grid-row: 1;
      display: grid;
      grid-template-rows: 296px auto;
      position: relative;
      overflow: hidden;

      .article-sidebar__img {
        grid-row: 1;
        background-image: url('../img/Layer 4.png');
        background-position-x: right;
      }

      .article-sidebar {
        &__decor {
          background-color: @red;
          height: 110px;
          width: 110px;
          position: absolute;
          top: -55px;
          right: -55px;
          transform: rotateZ(45deg);
          z-index: 0;

          &::before {
            content: '';
            background-image: url('../img/plus.svg');
            display: block;
            background-repeat: no-repeat;
            background-size: cover;
            height: 15px;
            width: 15px;
            position: absolute;
            top: 80px;
            right: 46px;
            transform: rotateZ(45deg);
            z-index: 1;
          }
        }
      }

      .article-sidebar__text {
        padding: 30px;
        background-color: @dark-gray;

        * {
          color: #fff;
        }

        &-title {
          line-height: 30px;
        }

        &-subtitle {
          font-size: 12px;
          line-height: 22px;
          padding-top: 20px;
        }
      }
    }

    &-block2 {
      grid-row: 2;
      padding: 30px 11px;

      .bot-date {
        border-bottom: 2px solid #D9D9D9;
        padding-bottom: 15px;
        box-shadow: 0 3px 2px -2px #fff;
      }
    }

    &-block3 {
      grid-row: 3;
      padding: 20px 11px;
    }

    &-info {
      grid-row: 4;
      margin-top: 10px;

      & a:nth-child(4) span {
        .reg();

      }

      &__item {
        display: block;
        min-width: 301px;
        min-height: 45px;
        border-left: 4px solid #CACACA;
        margin-bottom: 7px;
        font-size: 12px;
        color: #A7A7A7;
        padding: 15px 25px;

        span {
          font-size: 16px;
          padding-right: 12px;
        }

      }
    }

    .article-sidebar__title {
      font-size: 19px;
    }

    .article-sidebar__date,
    .article-sidebar__subtitle {
      font-size: 12px;
      line-height: 22px;
      padding-top: 20px;
    }
  }
}


/*===================    CONTENT    ===============*/
.content {
  display: grid;
  grid-template-columns: 1fr 625px 302px 1fr;
  grid-column-gap: 23px;
  grid-template-rows: 306px 308px 500px;
  margin-top: 40px;
  .light-title {
    padding-top: 13px;
    font-size: 30px;
    color: #707070;
    .bold();
  }
  .text {
    padding-top: 20px;
    font-size: 14px;
    line-height: 24px;
  }
  &-img {
    
    grid-row: 1;
    grid-column: 2;
    background-image: url('../img/Layer 5.png');
    background-position: right bottom;
    
  }

  &-wrap2 {
    grid-row: 2;
    grid-column: 2;
    padding: 28px 50px 20px 50px;
  }

  &-wrap3 {
    margin-top: 31px;
    grid-row: 3;
    grid-column: 2;
    padding: 28px 46px 20px 50px;

  }
}
/*===================    FOOTER    ===============*/
.footer-wrap {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 3.5fr 870px 4fr;
  grid-column-gap: 23px;
  grid-template-rows: 160px;
  background-color: @dark-gray;
  align-items: center;
  .footer {
    grid-column: 2;
    display: grid;
    grid-template-rows: 80px 80px;
    align-items: center;
    * {
      color: #fff;
    }
    &-info__item {
      font-size: 14px;
      margin-right: 10px;
    }
    &-privacy {
      font-size: 12px;
      color: #7E7E7E;
      line-height: 24px;
      padding: 0 20px 20px 0;
    }
  }
}
