//Imports
@import "reboot.less";

//Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700&display=swap');

// Variables
@main_bg: #F7F7F7;
@dark_gray: #4E4E4E;
@light_gray: #A8A8A8;
@lite_gray : #A1A1A1;

.reg () {
  font-family: 'Roboto', sans-serif;
}

.bold() {
  font-family: 'Roboto Condensed', sans-serif;
}

.slab() {
  font-family: 'Roboto Slab', serif;
}

// Styles
* {
  color: @dark_gray;
  transition: 0.5s;
}

//Body style
.main_body {
  background-color: @main_bg;
  .reg();
  font-size: 14px;
  overflow-x: hidden;
}

//Header style
.header {
  display: grid;
  grid-template-columns: 1fr 300px 200px 675px 1fr;
  justify-items: center;
  align-items: center;
  text-transform: uppercase;
  .bold();
  min-height: 125px;

  &-logo {
    grid-column: 2;
    font-size: 40px;
  }

  &-nav {
    grid-column: 4;
    justify-self: end;

    &__item {
      padding-left: 20px;

      &:hover {
        color: #1ABB9C;
        transition: 0.3s;
      }
    }
  }
}

//Main style
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  width: 100vw;
  background: url('../images/banner.jpg');
  background-size: cover;
  .slab();

  * {
    margin-bottom: 42px;
  }

  &-title {
    font-size: 40px;
    color: #F3F3F3;
  }

  &-subTitle {
    font-size: 36px;
    color: @light_gray;
  }

  &-btn {
    width: 141px;
    height: 46px;
    background: #3F8DBF;
    text-transform: uppercase;
    color: #F3F3F3;
    border-bottom: 4px solid #3678A3;
    border-radius: 3px;
    transition: 0.5s;

    &:hover {
      background: #3678A3;
      border-bottom: 4px solid rgb(35, 94, 133);
    }
  }
}


//Feature style
.feature {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  grid-column-gap: 80px;
  border-bottom: 2px solid #DCDCDC;

  &__item {
    min-height: 277px;

    &-img {
      padding-bottom: 30px;
      transition: 0.5s;

      &:hover {
        animation: circle 1s linear infinite;
      }
    }

    &-title {
      padding-bottom: 15px;
      font-size: 18px;
      color: @dark_gray;
      .slab();
    }

    &-subTitle {
      color: #616161;
      line-height: 22px;
    }
  }

  @keyframes circle {
    from {
      transform: rotateY(0deg);
    }

    to {
      transform: rotateY(360deg);
    }
  }
}

.features-wrap,
.works-wrap {
  display: grid;
  grid-template-columns: 1fr 1182px 1fr;
  margin-top: 60px;
}

//Works style
.works {
  grid-column: 2;

  &-title {
    margin-bottom: 25px;
    font-size: 18px;
    color: @dark_gray;
    .bold();
    text-transform: uppercase;
  }

  &-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 14px;
  }

  &__item {
    max-width: 381px;
    min-height: 415px;

    .scale {
      display: inline-block;
      overflow: hidden;
      height: 285px;
    }

    &-img {
      width: 381px;
      transition: 1s;
      display: block;

      &:hover {
        transform: scale(1.2);
      }
    }

    &-title {
      padding-top: 25px;
      font-size: 18px;
      color: @dark_gray;
      .slab();
      padding-bottom: 14px;
    }

    &-subTitle {
      font-size: 13px;
      color: @light_gray;
      .slab();
      padding-bottom: 23px;
    }

    &-description {
      font-size: 14px;
      color: #5C5C5C;
      .reg();
      line-height: 25px;
    }
  }
}

//Quotes style 
.quotes {
  background: #EFEFEF;
  height: 231px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 56px;

  &-text {
    text-align: center;
    line-height: 35px;
    max-width: 734px;
    font-size: 20px;
    color: @lite_gray;
    .slab();

    &::before {
      content: '';
      height: 30px;
      width: 39px;
      display: block;
      background-image: url('../images/quote.png');
      position: relative;
      left: 350px;
      margin-bottom: 20px;
    }
  }
}

//Footer style 
.footer {
  display: grid;
  grid-template-columns: 1fr 1175px 1fr;
  background: url('../images/footer-bg.jpg');
  background-size: cover;
  width: 100vw;
  height: 461px;


  &-content {
    .f-title {
      font-size: 18px;
      color: #6C6C6C;
      text-transform: uppercase;
      .bold();
      padding-bottom: 24px;
    }

    * {
      color: #BFBFBF;
      font-size: 13.5px;
    }

    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 65px;
    line-height: 23px;
    padding-top: 50px;

    //Info block
    .info {
      position: relative;

      &-pl {
        padding-left: 25px;
      }

      &-text {
        padding-bottom: 20px;
      }

      &-adress::before,
      &-tel::before,
      &-support::before {
        content: '';
        width: 12px;
        height: 14px;
        display: block;
        position: absolute;
        left: 0px;
        margin-top: 5px;
        background-repeat: no-repeat;
      }

      &-adress::before {
        background-image: url('../images/address.png');
      }

      &-tel::before {
        background-image: url('../images/phone.png');

      }

      &-support::before {
        background-image: url('../images/mail.png');
        margin-top: 8px;
      }
    }

    //Twitter block
    .twitter {
      position: relative;

      &-list {
        &__item {
          padding-bottom: 20px;
          padding-left: 25px;

          &::before {
            content: '';
            width: 13px;
            height: 10px;
            display: block;
            position: absolute;
            background-image: url('../images/twitter.png');
            left: 0px;
            margin-top: 5px;
            background-repeat: no-repeat;
          }
        }
      }
    }

    //Posts block 
    .posts {
      &-list {
        &__item {
          padding-bottom: 10px;
        }
      }
    }

    //About us block
    .about {
      &-list {
        &__item {
          padding-bottom: 10px;
        }
      }
    }
  }

  &-rights {
    grid-column: 2;
    color: #BFBFBF;
    display: flex;
    align-items: center;
    border-top: 2px solid #383838;

  }
}

// Burger menu 
.wrapper-burger {
  display: none;
  width: 100%;
  background-color: #555555;
  position: relative;
  text-align: center;
  height: 50px;


  #check-menu {
    display: none;

    &:checked~.burger-nav {
      max-height: 400px;
      font-size: 16px;

    }
  }

  .check-label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
  }

  .burger-line {
    position: absolute;
    top: 12px;
    right: 10px;
    width: 25px;
    height: 5px;
    background-color: #AAAAAA;
    transition: 0.5s;

  }

  .second {
    top: 21px;
  }

  .third {
    top: 30px;
  }

  .burger-nav {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: 0.5s;

    &__item {
      text-transform: uppercase;
      display: block;
      width: 100%;
      padding: 10px;
      color: #fff;
      text-transform: uppercase;
      .bold();
      background-color: rgba(85, 85, 85, 0.95);
      margin-bottom: -1px;

      &:hover {
        color: #1ABB9C;
        transition: 0.3s;
      }
    }
  }
}


// Media queries 
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header {
    grid-template-columns: 0.5fr 1fr 4fr 1fr;

    &-nav {
      grid-column: 3;
    }
  }

  .main {
    &-title {
      font-size: 29px;
    }

    &-subTitle {
      font-size: 27px;
    }
  }

  .features-wrap,
  .works-wrap {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    margin-top: 40px;
    justify-items: center;
    align-items: center;
  }

  .feature {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 150px;
    padding-bottom: 30px;
  }

  .works {
    &-title {
      display: block;
      width: 200px;
      margin: 30px auto;
      text-align: center;
    }

    &-items {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      grid-row-gap: 70px;
    }

  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-items: center;
    align-items: center;
    background: url('../images/footer-bg.jpg');
    background-size: cover;
    width: 100vw;
    height: 100%;

    &-content {
      grid-template-columns: 450px;
      grid-row-gap: 30px;
      padding-bottom: 20px;
      line-height: 21px;
    }

    &-rights {
      width: 100%;
      height: 50px;
    }
  }

}

@media screen and (min-width: 468px) and (max-width: 768px) {
  .header {
    grid-template-columns: 1fr 4fr 1fr;

    &-logo {
      grid-column: 2;
    }

    &-nav {
      display: none;
    }
  }

  .wrapper-burger {
    display: block;
  }

  .main {
    * {
      margin-bottom: 25px;
    }

    min-height: 270px;

    &-title {
      padding-top: 50px;
      font-size: 18px;
    }

    &-subTitle {
      font-size: 17px;
    }

    &-btn {
      height: 40px;
    }
  }

  .features-wrap,
  .works-wrap {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    margin-top: 40px;
    justify-items: center;
    align-items: center;
  }

  .feature {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    padding-bottom: 30px;
  }

  .works {
    &-title {
      display: block;
      width: 200px;
      margin: 30px auto;
      text-align: center;
    }

    &-items {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      grid-row-gap: 70px;
    }

  }

  .quotes {
    &-text {
      font-size: 18px;

      &::before {
        left: 50%;
      }
    }
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-items: center;
    align-items: center;
    background: url('../images/footer-bg.jpg');
    background-size: cover;
    width: 100vw;
    height: 100%;

    &-content {
      grid-template-columns: 370px;
      grid-row-gap: 20px;
      padding-bottom: 10px;
      line-height: 21px;
      padding-top: 30px;
    }

    &-rights {
      width: 100%;
      height: 50px;
    }
  }
}

@media screen and (max-width: 468px) {
  .header {
    grid-template-columns: 1fr 4fr 1fr;

    &-logo {
      grid-column: 2;
    }

    &-nav {
      display: none;
    }
  }

  .wrapper-burger {
    display: block;
  }

  .main {
    * {
      margin-bottom: 25px;
    }

    text-align: center;
    line-height: 30px;
    min-height: 210px;

    &-title {
      padding-top: 50px;
      font-size: 18px;
    }

    &-subTitle {
      display: none;
    }

    &-btn {
      height: 40px;
    }
  }

  .features-wrap,
  .works-wrap {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    margin-top: 50px;
    justify-items: center;
    align-items: center;
  }

  .feature {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 25px;
    padding-bottom: 30px;
  }

  .works {
    &-title {
      display: block;
      width: 200px;
      margin: 30px auto 60px;
      text-align: center;
    }

    &-items {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      grid-row-gap: 50px;
    }

    &__item {
      max-width: 300px;
      min-height: 400px;

      .scale {
        display: inline-block;
        overflow: hidden;
        height: 225px;
      }

      &-img {
        width: 300px;
      }

      &-title {
        font-size: 16px;
      }

      &-subTitle {
        font-size: 12px;
      }

      &-description {
        font-size: 13px;
      }
    }
  }

  .quotes {
    &-text {
      font-size: 16px;
      line-height: 26px;

      &::before {
        left: 50%;
      }
    }
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-items: center;
    align-items: center;
    background: url('../images/footer-bg.jpg');
    background-size: cover;
    width: 100vw;
    height: 100%;

    &-content {
      grid-template-columns: 370px;
      grid-row-gap: 20px;
      padding-bottom: 10px;
      line-height: 21px;
    }

    &-rights {
      width: 100%;
      height: 50px;
    }
  }
}